.header-web {
    height: 50px !important;
    width: 100%;
    background-color: black;
    padding: 15px 175px;
}
@media (max-width: 768px) {
    .header-web {
        height: 70px !important;
        padding: 20px;
   }
}
.header-web .menu {
    display: flex;
    justify-content: space-between !important;
}
.header-web .menu .logo img {
    width: 50px !important;
}
.header-web .menu .logo .custom-image {
    object-fit: contain;
}
.header-web .menu .text-menu-mobile {
    z-index: 10;
}
@media (max-width: 768px) {
    .header-web .menu .text-menu-mobile {
        display: block;
   }
}
@media (min-width: 768px) {
    .header-web .menu .text-menu-mobile {
        display: none;
   }
}
.header-web .menu .text-menu-mobile .icon-menu {
    color: white;
    cursor: pointer;
}
.header-web .menu .text-menu-mobile .menu-mobile {
    z-index: 10 !important;
    display: none;
    padding: 30px;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
}
.header-web .menu .text-menu-mobile .menu-mobile .icon-tab-menu {
    font-size: 40px;
}
.header-web .menu .text-menu-mobile .menu-mobile .item-text {
    color: black;
    padding: 30px 0px;
    font-size: 24px;
    font-weight: 300;
    border-bottom: 1px solid #f1f1f1;
}
.header-web .menu .text-menu-mobile .menu-mobile .item-text a {
    color: black;
    font-weight: 400;
}
@media (max-width: 768px) {
    .header-web .menu .text-menu-desktop {
        display: none;
   }
}
.header-web .menu .text-menu-desktop .item-text {
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 20px;
    color: #ada8a8;
}
.header-web .menu .text-menu-desktop .item-text:hover {
    color: white !important;
}
.body-web .banner {
    background: rgba(0, 0, 0, 0.7) url(./image/u2_state0.jpg);
    background-size: cover;
    background-blend-mode: darken;
    object-fit: contain;
}
.body-web .banner .item-banner {
    padding: 100px 170px;
}
@media (max-width: 768px) {
    .body-web .banner .item-banner {
        padding: 20px;
   }
}
.body-web .banner .item-banner .logo-baner {
    object-fit: contain;
    height: 100px;
    width: 180px;
}
.body-web .banner .item-banner .text-banner {
    color: white;
}
.body-web .banner .item-banner .text-banner .text-item1 {
    font-size: 40px;
}
.body-web .banner .item-banner .text-banner .text-item2 {
    color: #fff 85;
    font-size: 20px;
}
.body-web .banner .item-banner .text-banner .custom-border {
    height: 3px;
    width: 50px;
    background-color: white;
}
.body-web .banner .item-banner .text-banner .button-banner {
    width: 150px;
}
@media (max-width: 768px) {
    .body-web .banner .item-banner .text-banner .button-banner {
        margin: auto;
        display: block;
   }
}
.body-web .banner .item-banner .form-banner {
    display: flex;
    align-items: center;
    justify-content: end;
}
@media (max-width: 768px) {
    .body-web .banner .item-banner .form-banner {
        justify-content: center;
   }
}
.body-web .banner .item-banner .form-banner .custom-form {
    width: 400px;
}
@media (max-width: 768px) {
    .body-web .banner .item-banner .form-banner .custom-form {
        padding: 20px;
   }
}
.body-web .banner .item-banner .form-banner .custom-form .text-item {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.body-web .banner .item-banner .form-banner .custom-form .input-item {
    padding: 15px 30px;
}
.body-web .banner .item-banner .form-banner .custom-form .input-item .form-control {
    border: 1px solid #fff !important;
    border-bottom: 1px solid #e0e0e0 !important;
}
.body-web .banner .item-banner .form-banner .custom-form .button-item {
    background-color: #ff9b51;
    color: white;
    padding: 15px 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
}
.body-web .tab {
    padding: 100px 170px;
    background-color: #f5f5f5;
}
@media (max-width: 768px) {
    .body-web .tab {
        padding: 5px;
   }
}
.body-web .tab .custom-tab {
    display: inline-grid;
    align-items: center;
}
@media (max-width: 768px) {
    .body-web .tab .custom-tab {
        display: flex;
        justify-content: center;
        margin-top: 30px;
   }
}
.body-web .tab .custom-tab .item-tab1 {
    color: white;
    margin-top: 1px;
    padding: 30px;
    background-color: #333;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
@media (max-width: 768px) {
    .body-web .tab .custom-tab .item-tab1 {
        margin-left: 1px;
   }
}
.body-web .tab .custom-tab .item-tab2 {
    color: white;
    margin-top: 1px;
    padding: 30px;
    background-color: #333;
    cursor: pointer;
}
@media (max-width: 768px) {
    .body-web .tab .custom-tab .item-tab2 {
        margin-left: 1px;
   }
}
.body-web .tab .custom-tab .item-tab3 {
    color: white;
    margin-top: 1px;
    padding: 30px;
    background-color: #333;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
@media (max-width: 768px) {
    .body-web .tab .custom-tab .item-tab3 {
        margin-left: 1px;
   }
}
.body-web .tab .custom-tab .active {
    background-color: #ff8b38;
}
.body-web .tab .custom-text1 {
    font-weight: bold;
    font-size: 24px;
}
.body-web .tab .custom-text2 {
    color: #a6a6a6;
}
.body-web .tab .button-download {
    color: white;
    background-color: #fc8c3d;
    border-color: #fc8c3d;
    padding: 5px 15px;
}
@media (max-width: 768px) {
    .body-web .tab .button-download {
        margin: auto;
        display: block;
   }
}
.body-web .tab .button-download:hover {
    background-color: white;
    color: #fc8c3d;
}
.body-web .tab .fix-image {
    display: flex;
    justify-content: end;
}
@media (max-width: 768px) {
    .body-web .tab .fix-image {
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
   }
}
.body-web .tab .fix-image img {
    width: 350px;
}
.body-web .layout-list-section {
    padding: 100px 170px;
    background-color: white;
}
@media (max-width: 768px) {
    .body-web .layout-list-section {
        padding: 20px;
   }
}
.body-web .layout-list-section .form-section {
    padding: 20px 50px;
}
@media (max-width: 768px) {
    .body-web .layout-list-section .form-section {
        padding: 20px 30px;
   }
}
.body-web .layout-list-section .form-section .title-section {
    font-size: 24px;
    font-weight: bold;
}
.body-web .layout-list-section .form-section .custom-border-section {
    height: 3px;
    width: 100px;
    background-color: #fc8c3d;
}
.body-web .layout-list-section .form-section .text-section {
    color: #a6a6a6;
}
.body-web .layout-list-section .form-section .flex-section {
    display: flex;
}
.body-web .layout-list-section .form-section .flex-section .icon-section {
    width: 50px;
    object-fit: contain;
}
.body-web .layout-list-section .form-section .flex-section .item-section {
    display: inline-grid;
}
.body-web .layout-list-section .form-section .flex-section .item-section .title-item-section {
    font-weight: 400;
}
.body-web .layout-list-section .form-section .flex-section .item-section .text-item-section {
    color: #a6a6a6;
}
.body-web .layout-list-section .fix-image-section {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
}
@media (max-width: 768px) {
    .body-web .layout-list-section .fix-image-section {
        padding: 50px 30px;
   }
}
.body-web .layout-list-section .fix-image-section img {
    object-fit: cover;
}
@media (max-width: 768px) {
    .body-web .layout-list-section .fix-image-section img {
        width: 100% !important;
   }
}
.body-web .layout-picture-section {
    padding: 100px 170px;
    background-color: #f5f5f5;
}
@media (max-width: 768px) {
    .body-web .layout-picture-section {
        padding: 20px;
   }
}
@media (max-width: 768px) {
    .body-web .layout-picture-section {
        padding: 5px;
   }
}
.body-web .layout-picture-section .form-picture-section {
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width: 768px) {
    .body-web .layout-picture-section .form-picture-section {
        padding: 50px 30px;
   }
}
.body-web .layout-picture-section .form-picture-section .title-section {
    font-size: 24px;
    font-weight: bold;
}
.body-web .layout-picture-section .form-picture-section .custom-border-section {
    height: 3px;
    width: 100px;
    background-color: #fc8c3d;
}
.body-web .layout-picture-section .form-picture-section .text-section {
    color: #a6a6a6;
}
.body-web .layout-picture-section .image-picture-section {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 50px 0px;
    padding-right: 100px;
}
@media (max-width: 768px) {
    .body-web .layout-picture-section .image-picture-section {
        padding: 20px 30px;
        justify-content: center;
   }
}
.body-web .layout-picture-section .image-picture-section img {
    object-fit: cover;
}
.body-web .layout-awesome {
    padding: 100px 170px;
    background-color: white;
}
@media (max-width: 768px) {
    .body-web .layout-awesome {
        padding: 5px;
   }
}
.body-web .layout-awesome .form-awesome {
    display: flex;
    justify-content: center;
}
.body-web .layout-awesome .form-awesome .title-awesome {
    font-size: 40px;
    font-weight: 200;
}
@media (max-width: 768px) {
    .body-web .layout-awesome .form-awesome .title-awesome {
        padding: 10px 30px;
   }
}
.body-web .layout-awesome .form-awesome .custom-dash {
    height: 3px;
    width: 100px;
    background-color: #fc8c3d;
}
.body-web .layout-awesome .form-awesome .text-awesome {
    color: #a6a6a6;
}
@media (max-width: 768px) {
    .body-web .layout-awesome .form-awesome .text-awesome {
        padding: 10px 30px;
   }
}
.body-web .layout-awesome .item-awesome {
    margin-top: 100px;
}
@media (max-width: 768px) {
    .body-web .layout-awesome .item-awesome {
        padding: 10px 30px;
   }
}
.body-web .layout-awesome .item-awesome .icon-item {
    width: 80px;
    object-fit: contain;
    margin: auto;
    display: block;
    width: 60px;
}
.body-web .layout-awesome .item-awesome .title-item {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}
.body-web .layout-awesome .item-awesome .text-item {
    display: flex;
    text-align: center;
    color: #a6a6a6;
}
.body-web .axure-design {
    background: rgba(0, 0, 0, 0.7) url(./image/u6.jpg);
    background-size: cover;
    background-blend-mode: darken;
    object-fit: contain;
    padding: 100px 170px;
}
@media (max-width: 768px) {
    .body-web .axure-design {
        padding: 20px 30px;
   }
}
.body-web .axure-design .title {
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: 300;
}
.body-web .axure-design .custom-dash {
    height: 3px;
    width: 100px;
    background-color: white;
    margin: auto;
    display: block;
}
.body-web .axure-design .text {
    color: #a6a6a6;
}
.body-web .axure-design .button-download {
    margin: auto;
    display: block;
    width: 150px;
}
.body-web .contact-us {
    padding: 100px 170px;
    background-color: white;
}
@media (max-width: 768px) {
    .body-web .contact-us {
        padding: 20px 30px;
   }
}
.body-web .contact-us .title-contact {
    font-size: 40px;
    font-weight: 300;
}
.body-web .contact-us .custom-dash {
    height: 3px;
    width: 100px;
    background-color: #fc8c3d;
    margin: auto;
    display: block;
}
.body-web .contact-us .text-contact {
    color: #a6a6a6;
}
.body-web .contact-us .form-input {
    padding-right: 100px;
}
@media (max-width: 768px) {
    .body-web .contact-us .form-input {
        padding: 30px;
   }
}
.body-web .contact-us .form-input .form-control {
    border: 1px solid #fff !important;
    border-bottom: 1px solid #e0e0e0 !important;
}
.body-web .contact-us .button-send {
    margin: auto;
    display: block;
    width: 150px;
    background-color: #ff8b38;
}
@media (max-width: 768px) {
    .body-web .contact-us .button-send {
        margin-bottom: 30px;
   }
}
.body-web .contact-us .button-send:hover {
    background-color: white;
    border-color: #ff8b38;
    color: #fc8c3d;
}
.footer {
    width: 100%;
    background-color: black;
}
.footer .icon-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    margin: auto;
    display: block;
}
.footer .text-footer {
    color: #a6a6a6;
    font-size: 12px;
}
textarea {
  resize: none;
}